<?xml version="1.0"?>
<model>
  <name>x500_realsense</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Baek Sangsu</name>
    <email>baeksangsu@it.agricore.co.kr</email>
  </author>
  <description>X500 Drone with mocked Realsense camera.</description>
</model>
